<footer class="footer py-3 mt-auto bg-dark">
    <div class="container">
        <!-- Changed from text-muted to text white -->
        <span class="text-white">&copy;CampTrek 2023</span>         
    </div>
</footer>